In [1]:
import pandas as pd

In [17]:
data = pd.read_excel('datasets/korea_2.xlsx')
data

                      OT   MT DEP SC    LAT     LON                     SPOT
0    2023/09/22 17:46:58  2.2  14  Ⅱ  36.59  128.22         경북 문경시 동쪽 3km 지역
1    2023/09/16 04:28:25  2.2   7  Ⅱ  36.01  128.01      경북 김천시 남남서쪽 17km 지역
2    2023/09/14 21:28:25  2.9  23  Ⅰ  35.70  130.03       울산 동구 동북동쪽 60km 해역
3    2023/09/08 05:12:01  2.3  19  Ⅰ  41.32  129.17  북한 함경북도 길주 북북서쪽 43km 지역
4    2023/09/08 04:01:16  2.1  24  Ⅰ  41.30  129.23  북한 함경북도 길주 북북서쪽 39km 지역
..                   ...  ...  .. ..    ...     ...                      ...
96   2022/09/22 20:28:37  2.9  10  Ⅰ  40.57  126.71    북한 자강도 용림 북북동쪽 7km 지역
97   2022/09/11 16:28:35  2.4  13  Ⅰ  36.46  129.63      경북 영덕군 동북동쪽 24km 해역
98   2022/09/10 14:59:48  3.4   7  Ⅱ  38.95  127.29    북한 강원 원산 남남서쪽 26km 지역
99   2022/09/03 00:44:46  2.0  18  Ⅰ  36.39  129.89        경북 영덕군 동쪽 47km 해역
100  2022/09/01 08:33:53  2.5   -  Ⅰ  35.11  125.07  전남 신안군 흑산도 북북서쪽 58km 해역

[101 rows x 7 columns]

In [18]:
data['OT'] = pd.to_datetime(data['OT']).dt.strftime('%Y-%m-%d')
data

             OT   MT DEP SC    LAT     LON                     SPOT
0    2023-09-22  2.2  14  Ⅱ  36.59  128.22         경북 문경시 동쪽 3km 지역
1    2023-09-16  2.2   7  Ⅱ  36.01  128.01      경북 김천시 남남서쪽 17km 지역
2    2023-09-14  2.9  23  Ⅰ  35.70  130.03       울산 동구 동북동쪽 60km 해역
3    2023-09-08  2.3  19  Ⅰ  41.32  129.17  북한 함경북도 길주 북북서쪽 43km 지역
4    2023-09-08  2.1  24  Ⅰ  41.30  129.23  북한 함경북도 길주 북북서쪽 39km 지역
..          ...  ...  .. ..    ...     ...                      ...
96   2022-09-22  2.9  10  Ⅰ  40.57  126.71    북한 자강도 용림 북북동쪽 7km 지역
97   2022-09-11  2.4  13  Ⅰ  36.46  129.63      경북 영덕군 동북동쪽 24km 해역
98   2022-09-10  3.4   7  Ⅱ  38.95  127.29    북한 강원 원산 남남서쪽 26km 지역
99   2022-09-03  2.0  18  Ⅰ  36.39  129.89        경북 영덕군 동쪽 47km 해역
100  2022-09-01  2.5   -  Ⅰ  35.11  125.07  전남 신안군 흑산도 북북서쪽 58km 해역

[101 rows x 7 columns]

In [19]:
data1 = pd.read_excel('datasets/Japan_2023earthquake.xlsx')
data1

            OT     SPOT    LAT     LON  DEP   MT  SC
0   2023-05-20   千葉県南東沖  34.57  140.13   79  4.2   2
1   2023-05-20  トカラ列島近海  29.55  130.02   11  2.3   1
2   2023-05-20  トカラ列島近海  29.55  130.01    9  2.2   1
3   2023-05-20   与那国島近海  24.21  122.59   48  3.2   1
4   2023-05-19  トカラ列島近海  29.56  130.01   10  2.1   1
..         ...      ...    ...     ...  ...  ...  ..
881 2022-09-24   兵庫県南東部  34.47  135.19    9  4.0   3
882 2022-09-23    茨城県南部  36.04  140.12   83  4.7   3
883 2022-09-23  沖縄本島北西沖  26.21  125.59   26  4.6   1
884 2022-09-23    長野県南部  35.54  137.39   11  2.6   1
885 2022-09-23  石川県能登地方  37.31  137.18   13  2.7   1

[886 rows x 7 columns]

In [20]:
new_column_order = ['OT', 'MT', 'DEP', 'SC', 'LAT', 'LON', 'SPOT']
data1 = data1[new_column_order]
data1

            OT   MT  DEP  SC    LAT     LON     SPOT
0   2023-05-20  4.2   79   2  34.57  140.13   千葉県南東沖
1   2023-05-20  2.3   11   1  29.55  130.02  トカラ列島近海
2   2023-05-20  2.2    9   1  29.55  130.01  トカラ列島近海
3   2023-05-20  3.2   48   1  24.21  122.59   与那国島近海
4   2023-05-19  2.1   10   1  29.56  130.01  トカラ列島近海
..         ...  ...  ...  ..    ...     ...      ...
881 2022-09-24  4.0    9   3  34.47  135.19   兵庫県南東部
882 2022-09-23  4.7   83   3  36.04  140.12    茨城県南部
883 2022-09-23  4.6   26   1  26.21  125.59  沖縄本島北西沖
884 2022-09-23  2.6   11   1  35.54  137.39    長野県南部
885 2022-09-23  2.7   13   1  37.31  137.18  石川県能登地方

[886 rows x 7 columns]

In [21]:
data2 = pd.concat([data, data1], ignore_index=True)
data2

                      OT   MT DEP SC    LAT     LON                     SPOT
0             2023-09-22  2.2  14  Ⅱ  36.59  128.22         경북 문경시 동쪽 3km 지역
1             2023-09-16  2.2   7  Ⅱ  36.01  128.01      경북 김천시 남남서쪽 17km 지역
2             2023-09-14  2.9  23  Ⅰ  35.70  130.03       울산 동구 동북동쪽 60km 해역
3             2023-09-08  2.3  19  Ⅰ  41.32  129.17  북한 함경북도 길주 북북서쪽 43km 지역
4             2023-09-08  2.1  24  Ⅰ  41.30  129.23  북한 함경북도 길주 북북서쪽 39km 지역
..                   ...  ...  .. ..    ...     ...                      ...
982  2022-09-24 00:00:00  4.0   9  3  34.47  135.19                   兵庫県南東部
983  2022-09-23 00:00:00  4.7  83  3  36.04  140.12                    茨城県南部
984  2022-09-23 00:00:00  4.6  26  1  26.21  125.59                  沖縄本島北西沖
985  2022-09-23 00:00:00  2.6  11  1  35.54  137.39                    長野県南部
986  2022-09-23 00:00:00  2.7  13  1  37.31  137.18                  石川県能登地方

[987 rows x 7 columns]

In [22]:
data2['OT'] = pd.to_datetime(data2['OT']).dt.strftime('%Y-%m-%d')
data2

             OT   MT DEP SC    LAT     LON                     SPOT
0    2023-09-22  2.2  14  Ⅱ  36.59  128.22         경북 문경시 동쪽 3km 지역
1    2023-09-16  2.2   7  Ⅱ  36.01  128.01      경북 김천시 남남서쪽 17km 지역
2    2023-09-14  2.9  23  Ⅰ  35.70  130.03       울산 동구 동북동쪽 60km 해역
3    2023-09-08  2.3  19  Ⅰ  41.32  129.17  북한 함경북도 길주 북북서쪽 43km 지역
4    2023-09-08  2.1  24  Ⅰ  41.30  129.23  북한 함경북도 길주 북북서쪽 39km 지역
..          ...  ...  .. ..    ...     ...                      ...
982  2022-09-24  4.0   9  3  34.47  135.19                   兵庫県南東部
983  2022-09-23  4.7  83  3  36.04  140.12                    茨城県南部
984  2022-09-23  4.6  26  1  26.21  125.59                  沖縄本島北西沖
985  2022-09-23  2.6  11  1  35.54  137.39                    長野県南部
986  2022-09-23  2.7  13  1  37.31  137.18                  石川県能登地方

[987 rows x 7 columns]